html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  background-color: #333333;
  height: 30vh;

  display: flex;

  flex-direction: column;

  flex-wrap: wrap;

  justify-content: space-between;

  /* align-items: define la alineacion de los hijos en el eje transversal, dentro de cada linea */
  align-items: center;
  /* align-items: stretch; | align-items: flex-start; | align-items: center; | align-items: flex-end; | align-items: baseline; */
}

.item {
  border: medium solid #999999;
  width: 20%;
  height: 20%;
  background-color: #666666;
}