html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  background-color: #333333;
  height: 30vh;

  display: flex;

  flex-direction: row;

  flex-wrap: nowrap;

  justify-content: flex-start;

  align-items: stretch;

  align-content: flex-start;
}

.item {
  border: medium solid #999999;
  width: 100px;
  background-color: #666666;

  /* flex-grow: cuando la caja flexbox tenga espacio sobrante, es la habilidad o el factor de crecer, valor por defecto es 0, NO se aceptan valores negativos */
  flex-grow: 1;
}

.item:nth-child(2) {
  flex-grow: 3;
}

.item:nth-child(3) {
  flex-grow: 2;
}