html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  background-color: #333333;
  height: 30vh;
  width: 100%;

  display: flex;

  flex-direction: row;

  flex-wrap: nowrap;

  justify-content: flex-start;

  align-items: stretch;

  align-content: flex-start;
}

.item {
  border: medium solid #999999;
  background-color: #666666;

  flex-grow: 0;

  flex-shrink: 1;

  flex-basis: auto;

  /* order: representa el orden que tendran los elementos hijos en la caja flexbox. Valor por defecto 0, se aceptan valores positivos y negativos. Un valor menor siempre ira antes que un valor mayor */
  order: 0;

  /* align-self: sobreescribe el valor de la propiedad align-items solo para el elemento hijo especializado */
  align-self: stretch;
  /* align-self: stretch; | align-self: flex-start; | align-self: center; | align-self: flex-end; | align-self: baseline; */
}

.item:nth-child(2) {
  order: 1;
}

.item:nth-child(3) {
  align-self: center;
}