html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  background-color: #333333;
  height: 30vh;

  display: flex;

  flex-direction: column;

  flex-wrap: wrap;

  /* justify-content: define la alineacion de los elementos hijos respecto al eje principal */
  justify-content: space-between;
  /* justify-content: flex-start; | justify-content: center; | justify-content: flex-end; | justify-content: space-between; | justify-content: space around; | justify-content: space evenly; */
}

.item {
  border: medium solid #999999;
  width: 20%;
  height: 20%;
  background-color: #666666;
}
