html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  background-color: #333333;
  height: 30vh;

  display: flex;

  flex-direction: row;

  flex-wrap: nowrap;

  justify-content: flex-start;

  align-items: stretch;

  align-content: flex-start;
}

.item {
  border: medium solid #999999;
  background-color: #666666;

  flex-grow: 0;

  flex-shrink: 1;

  /* flex-basis: es el tamaño del elemento hijo dentro de la linea de la caja flexbox. Si la caja flexbox tiene direccion de fila, flex-basis representa el width, si la caja flexbox tiene direccion de columna, flex-basis representa el height. Valor por defecto auto. */
  flex-basis: auto;

  /* flex: es un shorthand de las propiedades flex-grow, flex-shrink y flex-basis, en este orden */
  flex: 1 1 auto;
}