.container {
  background-color: #333333;
  height: 30vh;

  display: flex;
  
  flex-direction: row;
  /* flex-direction: row; | flex-direction: column; | flex-direction: row-reverse; | flex-direction: column-reverse; */
}

.item {
  background-color: #666666;
}
