html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.titulares {
  padding: 1rem;
  background-color: #222;
  color: #eee;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu ul {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
}

.hero-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://placeimg.com/1280/720/tech);
  color: #fff;
}

.hero-image div {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, .75);
}

.hero-image {
  font-size: 5vh;
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
  }

  .menu li {
    padding: 1rem;
  }

  .menu li:last-of-type {
    padding-right: 0;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }

  .flex-item {
    flex: 0 0 50%;
  }

  .flex-order-1 {
    order: 1;
  }

  .flex-row-reverse {
    flex-direction: row-reverse;
  }
}

.flex-responsive {
  display: flex;
  flex-flow: row wrap;
}

.flex-responsive-item {
  border: thin solid #f70;
  flex: 1 1 200px;
}