html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  background-color: #333333;
  height: 30vh;

  display: flex;

  flex-direction: column;

  /* flex-wrap: define si la caja flexbox envuelve o NO a sus hijos */
  flex-wrap: wrap;
  /* flex-wrap: nowrap; | flex-wrap: wrap; | flex-wrap: wrap-reverse; */

  /* flex-flow: es un shorthand de flex-direction y flex-wrap */
  flex-flow: column wrap;
}

.item {
  border: medium solid #999999;
  width: 20%;
  height: 20%;
  background-color: #666666;
}
