html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  background-color: #333333;
  height: 30vh;

  display: flex;

  flex-direction: column;

  flex-wrap: wrap;

  justify-content: space-between;

  align-items: center;

  /* align-content: define la alineacion de los hijos en el eje transversal, NO funciona cuando los hijos estan en una sola linea, cuando flex-wrap esta en nowrap NO FUNCIONA */
  align-content: space-between;
  /* align-content: flex-start; | align-content: flex-end; | align-content: center; | align-content: space-between; | align-content: space-around; | align-content: space evenly; */
}

.item {
  border: medium solid #999999;
  width: 20%;
  height: 20%;
  background-color: #666666;
}