.container {
  background-color: #333333;

  /* display: flex; es una caja de flexbox que trabaja en bloque */
  display: flex;

  /* display: inline-flex; es una caja de flexbox que trabaja en linea */
  display: inline-flex;
}

.item {
  background-color: #666666;
}